:root {
  /* BRAND COLORS */
  --white: #FFFFFf;
  --neutral-white: #F6F5F4;
  --neutral-100: #DCDCDC;
  --neutral-300: #B1B1B1;
  --neutral-600: #838383;
  --neutral-black: #181817;
  --green-100: #A5B576;
  --green-200: #5a6e3a;
  --green-300: #2b4521;
  --green-500: #172b0f;
  --accent: #88333D;
}

.color-black {
  background-color: var(--neutral-black);
}

.color-neutral-600 {
  background-color: var(--neutral-600);
}

.color-neutral-300 {
  background-color: var(--neutral-300);
}

.color-neutral-100 {
  background-color: var(--neutral-100);
}

.color-white {
  background-color: var(--neutral-white);
}

.color-green-500 {
  background-color: var(--green-500);
}


.color-green-300 {
  background-color: var(--green-300);
}

.color-green-200 {
  background-color: var(--green-200);
}

.color-green-100 {
  background-color: var(--green-100);
}

.color-accent {
  background-color: var(--accent);
}
