.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.week3Vis {
    display: flex;
    justify-content: center;
}

#v1genre,
#v1plat,
#v2genre,
#v2plat,
#v3,
#v4circle,
#v4console,
#v4yearly,
#v4bestsells,
#v4genre,
#v4populargenre {
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin: 1rem 5rem;
}

#vis2,
#vis3,
#vis4,
#gachaMarketTrend,
#vis5,
#visRegionRevenue {
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin: 1rem 0rem;
}


#vis6 {
    width: 100%;
    height: 40%;
    max-width: 800px;
    margin: 1rem 0rem;
}

#vis1 {
    width: 100%;
    height: 100%;
    max-width: 800px;
    text-align: left;
    margin: 0 auto 0 0;
    display: flex;
}